.popup__input{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    margin:0;
    padding: 0;
    margin-top: 30px;
    outline: none;
    border-bottom:1px solid rgba(0,0,0,0.2);
    max-width: 358px;
    min-height: 28px;
    width:100%;
}
.popup__input:first-of-type{
  margin-top: 0;
}
@media screen and (max-width:767px){
    .popup__input{
      width: 238px;
      margin: 0 auto 13px;
    }
}