.popup__close{
  position: absolute;
  top: -35px;
  right:-37px;
  height: 40.7px;
  width: 40.7px;
  background-size: 40.7px 40.7px;
  border: none;
  color:  #FFFFFF;
  background:transparent url(../../../images/close_icon.svg) center no-repeat;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0;
}
.popup__close:hover{
  opacity: 0.6;
  transition: transform .2s ease-in;
}
@media screen and (max-width:767px){
  .popup__close{
    right:-5px;
    top: -25px;
    height: 26px;
    width: 26px;
    background:transparent url(../../../images/close_icon_mobile.svg) center no-repeat;
  }
}