.element__heart{
    width: 20.76px;
    height: 18.13px;
    align-self: flex-end;
    background: transparent url(../../../images/heart.svg) center no-repeat;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 7.4px;
    cursor: pointer;
}