.footer__box{
    margin-top: 66px;
    margin-bottom: 60px;
    margin-left: 199px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:69%;
    max-width: 318px;
}
@media screen and (max-width:767px){
    .footer__box{
        margin: 48px auto 36px;
        min-width: 282px;
    }
}