.profile__title{
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #FFFFFF;
  margin: 0;
  min-width: 295px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self:end;
}
@media screen and (max-width:767px){
  .profile__title{
    font-size: 27px;
    min-width: 201px;
    
    /* max-height:38px; */
    text-align: right;
    margin-bottom: 10px;
  }
}