.profile__box{
    width: 100%;
    max-width: 882px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:1023px){
    .profile__box{
      max-width:705.86px;
    }
}


@media screen and (max-width:767px){
    .profile__box{
      flex-direction: column;
      margin-bottom: 36px;
      justify-content: center;
      min-width:280px;
      margin-top: 0;
    }
}

