.popup__input-line{
  max-width: 356px;
  width:100%;
  height: 0px;
  opacity: 0.2;
  border: 1px solid #000000;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 29.74px;
}
.popup__input-line:last-of-type{
    margin-bottom: 0;
}
@media screen and (max-width:767px){
  .popup__line{
    max-width: 238px;
  }
}