.element{
    max-width: 282px;
    width:100%;
    border-radius: 10px;
    overflow: hidden;
    background: #FFFFFF;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    margin: 0;
    position: relative;
  }
 @media screen and (max-width:1023px){
    .element{
      margin: 0 auto;
    }
  } 
 