.element__rectangle{
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
    width:100%;
    max-width:282px;
    min-height: 361px;
    margin: 0;
}