.footer__span{
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media screen and (max-width:767px){
  .footer__span{
    font-size: 14px;
    line-height: 17px;
  } 
}