.popup__header{
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width:338px;
  width:100%;
  color: #000000;
  margin:34px 64px 54px 36px;
  padding: 0;

}
@media screen and (max-width:767px){
  .popup__header{
    font-size: 18px;
    line-height: 22px;
    width: 238px;
    margin:25px auto 75px;
    white-space: nowrap;
  }
}