.popup{
    font-family: 'Inter', 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    transition: visibility 0s, opacity 0.5s linear;
}